$themeClrPrimary: #8b5cf6;
$themeClrPrimaryDark: #60a5fa;

$commonBorderRadius: 5px;

// Light mode colors
$bgColorLight: #fff;
$textColorLight: #333;
$headingColorLight: #000;
$subTextColorLight: #777;
$footerBgLight: #000;
$footerTextLight: #fff;

// Dark mode colors
$bgColorDark: #1f2937;
$textColorDark: #f9fafb;
$headingColorDark: #fff;
$subTextColorDark: #ccc;
$footerBgDark: #111;
$footerTextDark: #eee;
